---
import { getCollection, type CollectionEntry } from "astro:content";
import Inspector from "@/components/playground/Inspector";
import Playground from "@/components/playground/Playground";
import Sidebar from "@/components/playground/Sidebar.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const previews = await getCollection("previews");
    type Preview = CollectionEntry<"previews">;
    return previews.map((preview: Preview) => ({
        params: { id: preview.id },
        props: { preview },
    }));
}

const previews = await getCollection("previews");
interface Props {
    preview: CollectionEntry<"previews">;
}
const { preview } = Astro.props;
const { component, title = "Preview", variants = [] } = preview.data || {};
---

<Layout>
    <div class="grid-cols-5 grid gap-4 h-full">
        <Sidebar content={previews} slugPath="preview" />
        <div class="col-span-3 flex justify-center h-full w-full">
            <div
                class="max-w-[600px] min-w-0 w-full border border-white/10 rounded-lg p-16"
            >
                <h1 class="text-h1">{title}</h1>
                {
                    component ? (
                        <Playground
                            component={component}
                            variants={variants}
                            client:load
                        />
                    ) : (
                        <div>
                            <p class="text-red-400">
                                Error rendering playground: component property
                                not found.
                            </p>
                            <p class="text-red-400">
                                Preview.data keys:{" "}
                                {JSON.stringify(
                                    Object.keys(preview.data || {}),
                                )}
                            </p>
                        </div>
                    )
                }
            </div>
        </div>
        <Inspector client:load />
    </div>
</Layout>
