---
import { getCollection } from "astro:content";
import ThemeSwitcher from "../ThemeSwitcher.astro";
import SidebarTree from "./SidebarTree.astro";

const previews = await getCollection("previews");
---

<div
    class="p-24 rounded-2xl border border-stroke-1 bg-fg-1 flex flex-col gap-3 col-span-1 h-full"
>
    <a
        href="/"
        class="text-h1 font-black hover:text-blue-400 duration-150 ease-out w-fit"
        >KOR UI</a
    >
    <ThemeSwitcher />
    <hr class="border-neutral-700" />
    <SidebarTree items={previews} />
    <div class="flex-grow"></div>
    <a href="https://github.com/K0Rhq/un" class="text-sub text-text/50"
        >Powered by unDocs</a
    >
</div>
