@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Outfit Variable", "Outfit", system-ui, sans-serif;
    --font-mono:
        "Chivo Mono Variable", "Chivo Mono", ui-monospace, SFMono-Regular,
        monospace;
    --font-serif: "Wittgenstein Variable", "Wittgenstein", Georgia, serif;

    --text-display: 4.5rem;
    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.5rem;
    --text-hmono: 1.25rem;
    --text-h4: 1.125rem;
    --text-mono: 0.875rem;
    --text-body: 0.875rem;
    --text-sub: 0.75rem;
    --text-subtext: 0.75rem;

    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625;
    --radius-12: 0.75rem;
    --radius-14: 0.875rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-28: 1.75rem;
    --radius-30: 1.875rem;
    --radius-32: 2rem;
    --radius-full: calc(infinity * 1px);

    /* Background colors */
    --color-background: var(--color-white);
}

@theme dark {
    --color-background: var(--color-gray-950);
}

button,
a {
    cursor: pointer;
}

button:disabled,
a:disabled {
    cursor: not-allowed;
}
