---
import "@/styles/global.css";
import "@fontsource-variable/outfit";
import "@fontsource-variable/chivo-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>unPreview</title>
  </head>
  <body class="bg-black text-white p-6 h-screen relative font-sans">
    <slot />
  </body>
</html>
